* {
    font-family: Inter, Helvetica;
}

h1 {
    margin: 20px;
    text-align: center;
}

#titlebar {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/gradient */
    background: conic-gradient(#ffd200, #bbdef0);
    padding: 0.5px;
}

#navbar {
    margin:1px;
    text-align: center;
    background: #efca08;
}

#footer-button {
    margin: 5px;
}

#WebsiteBody {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;} 

#FormBody {
    padding: 20px;
    height: 75%;
    text-align: center;
}

.greybody {
    flex: 1;
    width: 95%;
    margin: 20px;
    display: flex;
}


.grey-box {
     background-color: #f0f0f0; 
      padding: 10px; 
      border-radius: 25px; 
      margin: 15px;
      padding-right: 30px;
}

.right-button {
  float: right;
  padding-right: 10px;
}

