* {
    font-family: Inter, Helvetica;
}

#titlebar {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/gradient */
    background: conic-gradient(#ffd200, #bbdef0);
    padding: 0.5px;
}

#WebsiteBody {
    padding: 20px;
    height: 75%;
    display: inline-block;
}

h1 {
    margin: 20px;
    text-align: center;
}

#createBody p {
    text-align: center;
    place-items: center;
}

#navbar {
    margin: auto;
    text-align: center;
    background: #efca08;
}

#footer-button {
    margin: 5px;
}
